### Marketing Bancário


![marketing bank image](../data/raw/dataset-cover.jpeg)


### Contexto
Este estudo tem como objetivo analisar o conjunto de dados Bank Marketing, que reune informações sobre campanhas de marketing direto bancárias. 
Define-se por marketing direto uma estratégia de comunicação e vendas que envolve a interação direta com o consumidor utilizando canais como e-mail, mensagems de texto, redes sociais ou ligações telefônicas que é foco utilizado.

**A proposta deste estudo é avaliar a relação das variáveis qualitativas do dataset aplicando a técnica de análise e correspondência múltipla (MCA).**

obs.: por se tratar uma técnica que se utiliza exclusivamente de variáveis qualitativas, para o estudo será utilizado somente variáveis qualitativas do dataset, com excessão da variáveil age (idade) que passará por um processo de categorização seguindo a respectiva regra:

- 15 a 17 anos - young
- 18 a 29 anos - young adult
- 30 a 59 anos - Adult
- 60 anos ou mais - Elderly

In [4]:
# Carregando pacotes

import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm
import seaborn as sns
import matplotlib.pyplot as plt
from itertools import combinations

In [34]:
# carregando dados 
df_banking = pd.read_csv('../data/processed/bank_marketing_processed.csv')
df_banking.head()

     age        job  marital    education  default housing loan
0  Adult  housemaid  married        basic       no      no   no
1  Adult   services  married  high school  unknown      no   no
2  Adult   services  married  high school       no     yes   no
3  Adult     admin.  married        basic       no      no   no
4  Adult   services  married  high school       no      no  yes

In [36]:
# Verificando as colunas do DataFrame
df_banking.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan'], dtype='object')

## Dicionário de Variáveis


|VARIÁVEL         |TRADUÇÃO             |
|-----------------|---------------------|
|Age              | Idade do cliente    |
|Job              | Tipo de emprego     |
|Marital          | Estado Civil        |
|Education        | Nível de educação   |
|Default          | Possui crédito em inadimplência ?|
|Housing          | Possui empréstimo imobiliário ?|
|loan             | Tem empréstimo pessoal ?|

In [37]:
# Tamanho do dataset
df_banking.shape

(41188, 7)

In [38]:
# verificando os tipos das variáveis
df_banking.dtypes

age          object
job          object
marital      object
education    object
default      object
housing      object
loan         object
dtype: object

In [39]:
# Dados faltantes
df_banking.isnull().sum()/len(df_banking)

age          0.0
job          0.0
marital      0.0
education    0.0
default      0.0
housing      0.0
loan         0.0
dtype: float64

De acordo com a célula anterior o dataset não possui valores faltantes em nenhuma das variáveis